<!DOCTYPE html>
<html lang="fi">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <script src="{{{staticroot}}}/js/jquery-2.1.1.min.js"></script>
    <link href="{{{staticroot}}}/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="{{{staticroot}}}/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="{{{staticroot}}}/css/style.css" />
    <title>{{html_title}} Site title </title>
</head>
 
<body>
	<div id="header">		
			<div class="container">

                <div class="col-md-10"><a class="site-title" href="/">Site title</a></div>
            </div>		
	</div>
    <div id="content">
          {{{ content }}}
    </div>
    <div id="footer">
    	<div class="container">
    	Footer here
    	</div>
	</div>
</body>
</html>
